In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

## Data Preprocessing

In [2]:
#change file path accordingly
df = pd.read_csv('../../datasets/AccusedData.csv')
fir_df = pd.read_csv('../../datasets/FIR_Details_Data.csv')

C:\Users\andre\AppData\Local\Temp\ipykernel_13264\1447487807.py:3: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  fir_df = pd.read_csv('../../datasets/FIR_Details_Data.csv')

In [3]:
df.head()

,District_Name,UnitName,FIRNo,Year,Month,AccusedName,Person_Name,age,Caste,Profession,...,PresentCity,PresentState,PermanentAddress,PermanentCity,PermanentState,Nationality_Name,DOB,Person_No,Arr_ID,crime_no
0,Bagalkot,Amengad PS,0001/2016,2016,1,YAMxxxxxDAR,YAMANAPPA DURAGAPPA VADDAR,26.0,VADDA,Labourer,...,Bagalkot,Karnataka,",",Bagalkot,Karnataka,India,9999-01-01 00:00:00.000,A1,2016000003,10470124520160001
1,Bagalkot,Amengad PS,0002/2016,2016,1,MAHxxxxxGER,MAHANTESH VITTAPPA BADIGER,27.0,NaN,NaN,...,Bagalkot,Karnataka,",",Bagalkot,Karnataka,India,9999-01-01 00:00:00.000,A2,2016000009,10470124520160002
2,Bagalkot,Amengad PS,0002/2016,2016,1,HANxxxxxALI,HANAMANTH HANAMAPPA LAGALI,25.0,NaN,NaN,...,Bagalkot,Karnataka,",",Bagalkot,Karnataka,India,9999-01-01 00:00:00.000,A1,2016000010,10470124520160002
3,Bagalkot,Amengad PS,0002/2016,2016,1,KASxxxxxADI,KASINATH SHEKARAPPA MUNDEVADI,26.0,NaN,NaN,...,Bagalkot,Karnataka,",",Bagalkot,Karnataka,India,9999-01-01 00:00:00.000,A4,2016000011,10470124520160002
4,Bagalkot,Amengad PS,0002/2016,2016,1,RAMxxxxxDAR,RAMESH DURAGAPPA WADDAR,23.0,NaN,NaN,...,Raichur,Karnataka,",",Raichur,Karnataka,India,9999-01-01 00:00:00.000,A5,2016000007,10470124520160002

In [4]:
df.columns

Index(['District_Name', 'UnitName', 'FIRNo', 'Year', 'Month', 'AccusedName',
       'Person_Name', 'age', 'Caste', 'Profession', 'Sex', 'PresentAddress',
       'PresentCity', 'PresentState', 'PermanentAddress', 'PermanentCity',
       'PermanentState', 'Nationality_Name', 'DOB', 'Person_No', 'Arr_ID',
       'crime_no'],
      dtype='object')

In [5]:
df['UnitName'].unique()

array(['Amengad PS', 'Badami PS', 'Bagalkot CEN Crime PS', ...,
       'Yadgiri Town PS', 'Yadgiri Traffic PS', 'Yadgiri Women PS'],
      dtype=object)

In [6]:
df[df['Profession']=='CEO']

,District_Name,UnitName,FIRNo,Year,Month,AccusedName,Person_Name,age,Caste,Profession,...,PresentCity,PresentState,PermanentAddress,PermanentCity,PermanentState,Nationality_Name,DOB,Person_No,Arr_ID,crime_no
46237,Bagalkot,Kaladagi PS,0108/2018,2018,9,Shrxxxxxtil,Shrikanthagouda Ramanagouda Patil,52.0,RADDY,CEO,...,Belagavi Dist,Karnataka,",",Belagavi Dist,Karnataka,India,9999-01-01 00:00:00.000,A1,2018000426,10470124020180108
100968,Ballari,Hatcholli PS,0078/2021,2021,11,Laxxxxxxy J,Laxmi Reddy J,65.0,NaN,CEO,...,Ballari,Karnataka,",",Ballari,Karnataka,India,NaN,A32,2021000452,10445034820210078
100969,Ballari,Hatcholli PS,0078/2021,2021,11,SurxxxxxH M,Suresh H M,0.0,NaN,CEO,...,Ballari,Karnataka,",",Ballari,Karnataka,India,9999-01-01 00:00:00.000,A31,2021000448,10445034820210078
129385,Ballari,Siruguppa PS,0027/2019,2019,2,Syaxxxxxali,Syad Mohammad ali,33.0,NaN,CEO,...,Hyderabad city,Andhra pradesh,",",Hyderabad city,Andhra pradesh,India,9999-01-01 00:00:00.000,A1,2019000149,10445034720190027
161878,Belagavi City,Khadebazar PS,0053/2022,2022,9,Dayxxxxxali,Dayanand Chanabasappa Bali,59.0,ACHARI,CEO,...,Belagavi City,Karnataka,",",Belagavi City,Karnataka,India,NaN,A1,2022000421,10982030120220053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2849006,Vijayanagara,Hospet Rural PS,0026/2021,2021,4,Ragxxxxxrni,Ragavendra Rao Kulakarni,45.0,BRAHMIN,CEO,...,Ballari,Karnataka,",",Ballari,Karnataka,India,NaN,A23,2021000135,10445035620210026
2886195,Vijayapur,Babaleshwar PS,0034/2023,2023,2,Ramxxxxxanv,Ramesh Giraganv,45.0,NaN,CEO,...,Bagalkot,Karnataka,",",Bagalkot,Karnataka,India,NaN,A1,2023000122,10447041620230034
2886201,Vijayapur,Babaleshwar PS,0035/2023,2023,2,Susxxxxxnis,Sushant Sharashchand Padnis,0.0,NaN,CEO,...,Osmanabad,Maharashtra,",",Osmanabad,Maharashtra,India,9999-01-01 00:00:00.000,A5,2023000128,10447041620230035
2969632,Vijayapur,Zalaki PS,0004/2023,2023,1,Ompxxxxxade,Omprakash Sudhakar Jogade,0.0,NaN,CEO,...,Solapur rural,Maharashtra,",",Solapur rural,Maharashtra,India,NaN,A3,2023000020,10447042520230004
2969879,Vijayapur,Zalaki PS,0120/2023,2023,10,Rajxxxxxdar,Rajashekhar Mallanagoud Biradar,0.0,NaN,CEO,...,Vijayapur,Karnataka,",",Vijayapur,Karnataka,India,9999-01-01 00:00:00.000,A1,2023000621,10447042520230120

In [7]:
fir_df.columns

Index(['District_Name', 'UnitName', 'FIRNo', 'RI', 'Year', 'Month',
       'Offence_From_Date', 'Offence_To_Date', 'FIR_Reg_DateTime', 'FIR_Date',
       'FIR Type', 'FIR_Stage', 'Complaint_Mode', 'CrimeGroup_Name',
       'CrimeHead_Name', 'Latitude', 'Longitude', 'ActSection', 'IOName',
       'KGID', 'IOAssigned_Date', 'Internal_IO', 'Place of Offence',
       'Distance from PS', 'Beat_Name', 'Village_Area_Name', 'Male', 'Female',
       'Boy', 'Girl', 'Age 0', 'VICTIM COUNT', 'Accused Count',
       'Arrested Male', 'Arrested Female', 'Arrested Count\tNo.',
       'Accused_ChargeSheeted Count', 'Conviction Count', 'FIR_ID', 'Unit_ID',
       'Crime_No'],
      dtype='object')

In [8]:
fir_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694191 entries, 0 to 1694190
Data columns (total 41 columns):
 #   Column                       Dtype
---  ------                       -----
 0   District_Name                object
 1   UnitName                     object
 2   FIRNo                        object
 3   RI                           int64
 4   Year                         int64
 5   Month                        int64
 6   Offence_From_Date            object
 7   Offence_To_Date              object
 8   FIR_Reg_DateTime             object
 9   FIR_Date                     object
 10  FIR Type                     object
 11  FIR_Stage                    object
 12  Complaint_Mode               object
 13  CrimeGroup_Name              object
 14  CrimeHead_Name               object
 15  Latitude                     float64
 16  Longitude                    float64
 17  ActSection                   object
 18  IOName                       object
 19  KGID                         object
 20  IOAssigned_Date              object
 21  Internal_IO                  int64
 22  Place of Offence             object
 23  Distance from PS             object
 24  Beat_Name                    object
 25  Village_Area_Name            object
 26  Male                         int64
 27  Female                       int64
 28  Boy                          int64
 29  Girl                         int64
 30  Age 0                        int64
 31  VICTIM COUNT                 int64
 32  Accused Count                int64
 33  Arrested Male                int64
 34  Arrested Female              int64
 35  Arrested Count	No.           int64
 36  Accused_ChargeSheeted Count  int64
 37  Conviction Count             int64
 38  FIR_ID                       int64
 39  Unit_ID                      int64
 40  Crime_No                     int64
dtypes: float64(2), int64(19), object(20)
memory usage: 530.0+ MB

### Checking NULL Values

In [9]:
fir_df.isnull().sum()

District_Name                        0
UnitName                             0
FIRNo                                0
RI                                   0
Year                                 0
Month                                0
Offence_From_Date                    0
Offence_To_Date                      1
FIR_Reg_DateTime                     0
FIR_Date                             0
FIR Type                             2
FIR_Stage                            0
Complaint_Mode                   18430
CrimeGroup_Name                      0
CrimeHead_Name                       0
Latitude                             5
Longitude                            5
ActSection                          42
IOName                             150
KGID                               150
IOAssigned_Date                1694182
Internal_IO                          0
Place of Offence                     0
Distance from PS                   567
Beat_Name                          197
Village_Area_Name                  138
Male                                 0
Female                               0
Boy                                  0
Girl                                 0
Age 0                                0
VICTIM COUNT                         0
Accused Count                        0
Arrested Male                        0
Arrested Female                      0
Arrested Count\tNo.                  0
Accused_ChargeSheeted Count          0
Conviction Count                     0
FIR_ID                               0
Unit_ID                              0
Crime_No                             0
dtype: int64

### create new column(date)

In [10]:
fir_df["date"]=fir_df["FIR_Date"].str.split("/").str[0]

In [11]:
fir_df["date"].unique()

array(['05', '12', '15', '18', '19', '20', '21', '22', '24', '25', '27',
       '29', '31', '01', '03', '06', '08', '09', '10', '11', '13', '17',
       '07', '28', '02', '14', '23', '26', '04', '16', '30'], dtype=object)

In [12]:
#converting into integer
fir_df["date"] = fir_df["date"].astype(int)

## District column

In [13]:
fir_df["District_Name"].replace(['Belagavi City','Belagavi Dist'],'Belagavi',inplace=True)
fir_df["District_Name"].replace(['Bengaluru City','Bengaluru Dist','ISD Bengaluru','CID'],'Bengaluru',inplace=True)
fir_df["District_Name"].replace(['Hubballi Dharwad City'],'Dharwad',inplace=True)
fir_df["District_Name"].replace(['Kalaburagi City'],'Kalaburagi',inplace=True)
fir_df["District_Name"].replace(['K.G.F'],'Kolar',inplace=True)
fir_df["District_Name"].replace(['Mangaluru City'],'Mangaluru',inplace=True)

In [14]:
fir_df["District_Name"].unique()

array(['Bagalkot', 'Ballari', 'Belagavi', 'Bengaluru', 'Bidar',
       'Chamarajanagar', 'Chickballapura', 'Chikkamagaluru',
       'Chitradurga', 'Coastal Security Police', 'Dakshina Kannada',
       'Davanagere', 'Dharwad', 'Gadag', 'Hassan', 'Haveri', 'Kolar',
       'Kalaburagi', 'Karnataka Railways', 'Kodagu', 'Koppal', 'Mandya',
       'Mangaluru', 'Mysuru City', 'Mysuru Dist', 'Raichur', 'Ramanagara',
       'Shivamogga', 'Tumakuru', 'Udupi', 'Uttara Kannada',
       'Vijayanagara', 'Vijayapur', 'Yadgir'], dtype=object)

In [15]:
fir_df["FIR Type"].unique() #crime type

array(['Non Heinous', 'Heinous', nan], dtype=object)

Filling 'Not Applicable' in FIR TYPE

In [16]:
fir_df["FIR Type"].fillna("Not Applicable",inplace=True)
fir_df.rename(columns={'FIR Type':'CrimeType'},inplace=True)
fir_df["CrimeType"].unique()

array(['Non Heinous', 'Heinous', 'Not Applicable'], dtype=object)

In [17]:
fir_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694191 entries, 0 to 1694190
Data columns (total 42 columns):
 #   Column                       Dtype
---  ------                       -----
 0   District_Name                object
 1   UnitName                     object
 2   FIRNo                        object
 3   RI                           int64
 4   Year                         int64
 5   Month                        int64
 6   Offence_From_Date            object
 7   Offence_To_Date              object
 8   FIR_Reg_DateTime             object
 9   FIR_Date                     object
 10  CrimeType                    object
 11  FIR_Stage                    object
 12  Complaint_Mode               object
 13  CrimeGroup_Name              object
 14  CrimeHead_Name               object
 15  Latitude                     float64
 16  Longitude                    float64
 17  ActSection                   object
 18  IOName                       object
 19  KGID                         object
 20  IOAssigned_Date              object
 21  Internal_IO                  int64
 22  Place of Offence             object
 23  Distance from PS             object
 24  Beat_Name                    object
 25  Village_Area_Name            object
 26  Male                         int64
 27  Female                       int64
 28  Boy                          int64
 29  Girl                         int64
 30  Age 0                        int64
 31  VICTIM COUNT                 int64
 32  Accused Count                int64
 33  Arrested Male                int64
 34  Arrested Female              int64
 35  Arrested Count	No.           int64
 36  Accused_ChargeSheeted Count  int64
 37  Conviction Count             int64
 38  FIR_ID                       int64
 39  Unit_ID                      int64
 40  Crime_No                     int64
 41  date                         int32
dtypes: float64(2), int32(1), int64(19), object(20)
memory usage: 536.4+ MB

# Data Preparation

In [18]:
label_encoder = preprocessing.LabelEncoder() 
fir_df['CrimeGroup_Name']= label_encoder.fit_transform(fir_df['CrimeGroup_Name'])

In [19]:
#label_encoder.inverse_transform([50])

In [20]:
x = fir_df.iloc[:,[0,1,4,5,10,41]] #independent
y = fir_df.iloc[:,13]

In [21]:
#encoding categorical data
x_d = pd.get_dummies(x,columns=['District_Name','UnitName','CrimeType'],dtype='int')

In [22]:
#train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_d,y,test_size=0.25,random_state=0)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(random_state=0)
classifier.fit(x_train,y_train)